.idea/
log/*.log
venv/
/func_packages/AA_HTTP_API/config.json
/func_packages/AA_HTTP_BACK/config.json
/config/HTTP_API.json
/func_packages/AA_HTTP_API/main.py
/func_packages/AA_HTTP_BACK/main.py
